.arabic {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}
/* .opacity-1 {
  opacity: 1 !important;
}
.opacity-1:hover {
  opacity: 1 !important;
  box-shadow: 0px 0px 0px 0px !important;
} */
